@tailwind base;
@tailwind components;
@tailwind utilities;

.lora{
  font-family: var(--font-lora)
}

.montserrat{
  font-family: var(--font-monserrat)
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: montserrat
}

p, 
span,
select,
input,
label,
textarea,
ul,
li{
  font-family: lora
}
