@tailwind base;
@tailwind components;
@tailwind utilities;

.lora{
  font-family: var(--font-lora)
}



h1,
h2,
h3,
h4,
h5,
h6{
  font-family: var(--font-poppins);
}

p, 
span,
select,
input,
label,
textarea,
ul,
li{
  font-family: lora
}
