@tailwind base;
@tailwind components;
@tailwind utilities;

.lora{
  font-family: var(--font-lora)
}



h1,
h2,
h3,
h4,
h5,
h6,
li,
p{
  font-family: var(--font-poppins);
}


span,
select,
input,
label,
textarea,
ul,
{
  font-family: lora
}
